.btn {
  background: #DA0100;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding: 17px 39px;
  border-radius: 30px;
  display: inline-block;
  transition: background 0.5s;
}
.btn:hover {
  background: #EB1209;
}
.btn--service {
  background: #FFF;
  color: #F5170E;
  border: solid 1px #F5170E;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding: 17px 39px;
  border-radius: 30px;
  display: inline-block;
  transition: all 0.5s;
}
.btn--service:hover {
  background: #F5170E;
  color: #FFFFFF;
}
.btn--page--welcome {
  padding: 17px 57px;
}
.btn--color--black {
  background: #2B2B2B;
  color: #FFF;
  border: none;
  margin-right: 17px;
  cursor: pointer;
  transition: background 0.5s;
}
.btn--color--black:hover {
  background: #F5170E;
}
.btn--color--red {
  border: none;
  cursor: pointer;
}
.form__btn {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 96px;
}
