.dropdown__title {
  font-size: 13px;
  position: relative;
  text-decoration: underline;  
}
.dropdown__title:hover {
  color: #DA0100;
  transition: color 0.5s;
  cursor: pointer;
}
.dropdown__schedule-wrap:hover .dropdown__menu {
  opacity: 1;
  left: 0;
}
.dropdown__menu {
  padding: 15px 19px 15px 19px;
  font-size: 13px;
  background: #EDEDED;
  color: #1E1F20;
  position: absolute;
  border-radius: 5px;
  margin-top: 5px;
  left: -9999px;
  opacity: 0;
  transition: opacity 1s;
}
.dropdown__menu::after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-bottom-color: #EDEDED;
  border-top-width: 0px;
  top: -10px;
  right: 43px;
}
.dropdown__menu::before {
  content: '';
  height: 29px;
  width: 100%;
  position: absolute;
  top: -24px;
  left: 0;
}
.dropdown__days {
  font-weight: bold;
}