.menu__item {
  margin-right: 55px;
}
.menu__list {
  display: flex;
}
.menu__link{
  font-size: 14px;
  color:#FFF;
  text-decoration: none;
}
.menu__link:hover {
  color: #DA0100;
  transition: color 0.5s;
}
.menu__item:last-child {
  margin-right: 0;
}