.section {
  margin-bottom: 127px;
}
.section--theme--hot {
  margin-bottom: 122px;
}
.section--theme--news {
  margin-bottom: 143px;
}
.section__title-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.section__title {
 font-weight: bold;
 font-size: 36px;
 display: inline-block;
 margin-right: 16px;
}
.section__img {
 width: 21px;
}