.separator__container {
  background: url("../../img/couple.png") right 30px bottom no-repeat;
  padding: 120px 0;
}
.separator {
  background: #F4F5F5 url("../../img/Rectangle.jpg") center /cover no-repeat;
  min-height: 349px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.separator__content {
  max-width: 53%;
}
.separator__title {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.3;
}