.services {
  margin-bottom: 65px;
}
.services__item {
  margin-bottom: 49px;
}
.services__item:last-child {
  margin-bottom: 0;
}
.service {
  display: flex;
}
.service__img {
  width: 40.4%;
  margin-right: 5%;
}
.service__content {
  flex: 1;
  padding-top: 10px;
}
.service__title {
  font-weight: bold;
  font-size: 36px;
  color: #000000;
  margin-bottom: 29px;
}
.service__desc {
  line-height: 1.7;
  margin-bottom: 35px;
}